{% extends 'base.html' %} 
{% load blog_extras %}

{% block content %}
	
	<div class="row">
		<div class="col text-center mt-3 mb-3">
			<a href="{% url 'new_ticket' %}"><button class="btn btn-primary me-2">Demander une critique</button></a>
			<a href="{% url 'new_review' %}"><button class="btn btn-primary ms-2">Créer une critique</button></a>
		</div>
	</div>


	{% for instance in page_obj %}
		{% if instance|model_type == 'Ticket' %}
			<div class="card border-2">
				<section class="card-body">

					{% include 'flux/partials/ticket_snippet.html' with ticket=instance %}

					<div class="row">
						<div class = "col text-end">
							
							{% if instance in all_reviews %}
							{% else %}
								<a href="{% url 'review_from_ticket' instance.id %}"><button type="submit" class="btn btn-primary">Créer une critique</button></a>
							{% endif %}
							
						</div>
					</div>
				</section>		
			</div>	
			
		{% endif %}

		{% if instance|model_type == 'Review' %}
		<div class="card border-2">
			<section class='card-body'>
				{% include 'flux/partials/review_snippet.html' with review=instance %}
			</section>
		</div>

		{% endif %}
	{% endfor %}
	<span>
		{% if page_obj.has_previous %}
			<a href="?page=1">première</a>
			<a href="?page={{ page_obj.previous_page_number }}">précédente</a>
		{% endif %}
	</span>

	<span>
		Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.
	</span>

	{% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">suivante</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">dernière »</a>
    {% endif %}

{% endblock content %}