{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row text-center">
        <div class="col-3"></div>
        <div class="col-6">
            <h2>Incrivez-vous</h2>
            {% if form.errors %}
                {{ form.errors }}
            {% endif %}
            <form method="post">
                {{ form|crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-success my-3">S’inscrire</button>
            </form>
            <a href="{% url 'login' %}"><button type="submit" class="btn btn-secondary">Retourner</button></a>
        </div>
    </div>
{% endblock content %}